@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

.slideIn {
  transition: transform 0.5s ease-out;
  transform: translateX(-200px);
}

.slideOut {
  transition: transform 0.5s ease-out;
  transform: translateX(200px);
}

/* gradient */

.gradient-aboutSection-top {
  background: rgb(12, 14, 42);
  background: linear-gradient(180deg, rgba(12, 14, 42, 1) 0%, rgba(14, 18, 52, 1) 100%);
}

.grad-aboutSection-rc {
  position: absolute;
  width: 200px;
  height: 338px;
  top: 50px;
  right: 0px;
  margin-right: -200px;

  background: #7aebfb;
  filter: blur(190px);
}

.grad-aboutSection-le {
  position: absolute;
  width: 200px;
  height: 338px;
  top: 250x;
  left: 0px;
  margin-left: -400px;

  background: #7aebfb;
  filter: blur(190px);
}

.grad-portfolioSection-rc {
  position: absolute;
  width: 200px;
  height: 338px;
  top: 50px;
  right: 0px;
  margin-right: -100px;

  background: #7aebfb;
  filter: blur(190px);
}

.grad-portfolioSection-le {
  position: absolute;
  width: 200px;
  height: 338px;
  top: 250x;
  left: 0px;
  margin-left: -200px;

  background: #7aebfb;
  filter: blur(190px);
}